<h1>New Url</h1>
<% if @post.errors.any? %>
  <ul>
    <% @post.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :Url %>
    <%= form.text_field :original_url %>
  </div>

  <%= form.submit %>
<% end %>